@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.branding-insights {
    .table {
        div {

            border: 1px solid $c_text;
        }

        [class*='col'] {
            padding: 0;

        }

        h4 {
            background-color: $c_primary;
            padding: 20px;
            margin: 0;
            height: 100%;
        }

        .col-12 {
            padding: 20px;
        }

        .row.border {
            .col {
                padding: 20px;
                text-align: $start_dir;
            }
        }
    }
}